<table align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center" style="padding: 38px 55px 0; font-size: 24px; font-weight: normal;font-family: Arial, sans-serif; color:#FFFFFF;">
            clientNameHere
        </td>
    </tr>
    <tr>
         <td align="center" style="font-size: 17px; padding-top: 20px; text-transform: uppercase; font-family: Arial, sans-serif; color:#FFFFFF;">
            anomalyMetricHere
        </td>
    </tr>
</table>

<!-- Start test code -->
<table width="520" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="padding-bottom: 30px;">
        </td>
    </tr>
    <tr>
        <td width="360" style="padding-bottom: 10px;">
            <a href="dashboardLinkHere">
                <img src="graphLocationHere" width="400" height="225">
            </a>
        </td>
        <td width="120" align="center">
        <p align="center" style="margin: 0; text-align:center; font-size:11px; font-family: Arial, sans-serif; color:#e1e1e5;">
                                                Is this an alert?
        </p>
        <table width="104" align="center" valign="top">
          <tr>
            <td style="padding-top: 2px; padding-bottom: 5px;" align="center">
              <a href="MetisTrueAlertLinkHere" style="text-decoration: none;">
                  <img src="images/scope_true_L.png">
              </a>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 12px;" align="center">
              <a href="MetisFalseAlertLinkHere" style="text-decoration: none;">
                  <img src="images/scope_false_L.png">
              </a>
            </td>
          </tr>
          <tr>
            <td align="center">
              <a href="SherlockLinkHere" style="text-decoration: none;">
                  <img src="images/scope_sherlock_L.png">
              </a>
            </td>
          </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 10px;">
        </td>
    </tr>
</tbody>
</table>
