<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px;">
    <tr>
        <td align="left" valign="top" style="padding:0 25px; margin-bottom:5px; border-bottom:2px solid borderColorHere;"></td>
    </tr>
</table>
<table align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
         <td align="center" style="font-size: 17px; padding-top: 20px; text-transform: uppercase; font-family: Arial, sans-serif; color: #ffffff;" >
            anomalyMetricHere
        </td>
    </tr>
    <!-- Old graph code
    <tr>
        <td align="center">
            <a href="dashboardLinkHere"><img src="graphLocationHere" width="400" height="225"></a>
        </td>
    </tr>
    -->
</table>

<!-- Start test code -->
<table width="520" align="center" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="padding-bottom: 30px;">
        </td>
    </tr>
    <tr>
        <td width="360" style="padding-bottom: 10px;">
            <a href="dashboardLinkHere">
                <img src="graphLocationHere" width="400" height="225">
            </a>
        </td>
        <td width="120" align="center">
        <p align="center" style="margin: 0; text-align:center; font-size:11px; font-family: Arial, sans-serif; color:#e1e1e5;">
                                                Is this an alert?
        </p>
        <img src="images/scope_qualify_space.png">
            <a href="MetisTrueAlertLinkHere" style="text-decoration: none;">
                <img src="images/scope_true_L.png" style="padding:0">
            </a>
            <img src="images/scope_qualify_space.png">
            <a href="MetisFalseAlertLinkHere" style="text-decoration: none;">
                <img src="images/scope_false_L.png" style="padding:0">
            </a>
        <img src="images/scope_qualify_space.png">
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 10px;">
        </td>
    </tr>
</tbody>
</table>
<!-- End test code -->


<!-- Old buttons code
<table width="490" align="center" cellpadding="0" cellspacing="0" >
    <tr>
        <td width="354" align="right" style="padding:46px 0 46px 0; text-align:right; font-size:11px; font-family: Arial, sans-serif; color:#FFFFFF;">
                Is this an alert?
        </td>
        <td width="58" >
            <a href="MetisTrueAlertLinkHere"><img src="images/alert_yes.png"></a>
        </td>
        <td width="58">
            <a href="MetisFalseAlertLinkHere"><img src="images/alert_no.png"></a>
        </td>
    </tr>
</table>
-->
